<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FREEKICKNOW</title>
  </head>
  <body>

    <h3>WELCOME TO FREEKICKNOW.COM</h3>
    <p>...providing the latest sport news around the World</p>
    <hr>
    <h3>Admin Dashboard</h3>



    <img width="100" src="data:image/<%= r.image.contentType %>;base64,<%= r.image.data.toString('base64') %>" alt="">
    <p>Admin ID: <span style="color:blue"><%= admin_id %></span></p>
    <p>Username: <span style="color:blue"><%= username %></span></p>

  </body>
</html>
